---
import tick from "../../assets/tick-circle.svg"
---


<div class="flex p-[32px] flex-col items-start gap-[10px] flex-[1_0_0] rounded-[16px] bg-[#F2F4F7]">
    <div class="flex flex-col items-start gap-[32px] self-stretch">
        <div class="noto text-[36px] not-italic font-bold leading-[160%]">
            <p>Branding & Marketing</p>
        </div>
        <div class="flex flex-col items-start gap-[8px] self-stretch">
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Brand Identity Videos</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Product and Service Promotion</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Event Videos</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Recruitment and HR Videos</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Training and Educational Videos</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">And many more</li>
            </ul>
        </div>
        <div class="noto text-[16px] not-italic font-normal leading-[160%]">
            <p>We’re here to help you. Reach out to us as soon as possible!</p>
        </div>
    </div>
</div>