---
// import { Image } from "astro:assets"


interface CardProps {
    cardImg: any,
    titleOne: string,  // Use titleOne instead of title
    titleTwo: string,  // Add titleTwo
    words: string,
    textColor1: string,
    textColor2: string
}

const {cardImg, titleOne, titleTwo, words, textColor1, textColor2} = Astro.props
---


<div class="flex flex-col justify-center items-center gap-[26px] max-w-[370px] w-full h-full m-auto rounded-[8px] border-[#FFF] bg-[rgba(255,_255,_255,_0.95)]">
    <div class="flex h-[205px] items-start gap-[30px] self-stretch">
        <img src={cardImg.src} alt={titleOne} style="border-radius: 8px 8px 0 0;"/>
    </div>
    <div class="flex px-[16px] pb-4 flex-col justify-center items-center gap-[8px] self-stretch">
        <div class="flex gap-[5px] items-center">
            <span class={`${textColor1} text-center noto not-italic font-bold text-[18px]  leading-[160%]`}>{titleOne}</span>
            <span class=`font-[Noto_Sans] text-[18px] not-italic font-bold leading-[160%] ${textColor2}`>{titleTwo}</span>
        </div>
        <div class={`text-center noto text-[16px] not-italic font-normal leading-[160%]`}>
            <p>{words}</p>
        </div>
    </div>
</div>