---
import tick from "../../assets/tick-circle.svg"
---


<div class="flex p-[32px] flex-col items-start gap-[10px] flex-[1_0_0] rounded-[16px] bg-[rgba(255,_96,_31,_0.10)]">
    <div class="flex flex-col items-start gap-[32px] self-stretch">
        <div class="noto text-[36px] not-italic font-bold leading-[160%]">
            <p>Digital Marketing</p>
        </div>
        <div class="flex flex-col items-start gap-[8px] self-stretch">
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Social Media Videos</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Ad Campaign Videos</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Content Marketing Videos</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">Email Marketing Videos</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">YouTube and Online Video Content</li>
            </ul>
            <ul class="flex items-center gap-[8px] self-stretch">
                <img src={tick.src} alt="tick"/>
                <li class="noto text-[16px] not-italic font-normal leading-[160%]">And many more</li>
            </ul>
        </div>
        <div class="noto text-[16px] not-italic font-normal leading-[160%]">
            <!-- <p>We’re here to help you. Reach out to us as soon as possible!</p> -->
        </div>
    </div>
</div>